.table-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;
}
.volunteering_table {
    width: 100%;
    border-spacing: 0 10px;
}
tr, td{
    width: 100%;
    border: 2px solid #ec6c34;
}
.activity-wrapper{
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 10px 10px 10px 10px;
}
.text-activity-div{
    width: 100%;
    padding-right: 3em;
    padding-left: 1em;
}
.text-activity-div>h2 {
    margin: 0;
 text-align: left;
}
.div-for-button{
    width: 20%;
}
.registration-button{
    margin-top: 40%;
    height: 40px;
    width: 60%;
    background-color: #3ec70b;
    border-radius: 10px;
    border: none;
    color: white;
}
.registration-button:hover{
    transform: scale(1.1);
    border: 2px solid #ec6c34;
}
.for-plus{

}
.button-plus{
    float: right;
    height: 100%;
    font-size: 2em;
    width: auto;
    background: none;
    border: none;
}
.button-plus:hover{
    transform: scale(1.3);
}
.edit-buttons{
    border: none;
    margin-left: 5px;
    color: white;
}
#show{
    background: #ec6c34;
}
#edit{
    background: #3ec70b;
}
#remove{
    background: red;
}
.edit-button-div{
    width: 30%;
}
.div-requests{
    padding-left: 26px;
}
.volunt_data-div{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}
.volunt_data-div p{
    padding: 2px;
}
.buttonToClose{
padding: 2px;
    margin-bottom: 5px;
    background: #ec6c34;
    border: none;
    color: white;
}
