.form-wrapper{
    border: 1px solid black;
    padding: 20px 10px 20px 10px;
    display: flex;
    position: fixed;
    left: 35%;
    top: 30%;
    flex-direction: row;
    width: 30%;
    gap: 10px;
    font-size: 20px;
}
.label-div{
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 10px;
}
.input-div{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 10px;
    padding-left: 20px;
}
.submit-button{
    background-color: #3ec70b;
    border-radius: 5px;
    border: none;
    color: white;
    width: 5em;
    height: 2em;
}
.submit-button:hover{
    border: 2px solid #ec6c34;
    transform: scale(1.1);
}
.input-div>input{
    height: 22px;
}
